/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
	height: auto;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
/*.slick-arrow.slick-hidden {
    display: none;
}

.hm-slider .slick-dots li button {width: 15px;height: 15px;background: #fff;padding: 0;border: 0;
    -webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;
    display: block;text-indent: -999em;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	}

.hm-slider .slick-dots li {display: inline-block;margin-left:10px;}
.hm-slider .slick-dots li:first-child {margin-left:0;}
.hm-slider .slick-dots {width: 100%;height: 15px;text-align: center;position: absolute;left: 0;bottom: 6%;}
.hm-slider .slick-dots .slick-active button {background: #0988f9;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5), inset 0 0 0 1px #fff;
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5), inset 0 0 0 1px #fff;
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5), inset 0 0 0 1px #fff;
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5), inset 0 0 0 1px #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5), inset 0 0 0 1px #fff;
}*/