/*
Theme Name: The Lifestyle Child
Theme URI: https://themeforest.net/item/the-lifestyle-elegant-and-simple-wordpress-blog-theme/19901575
Template: the-lifestyle
Author: Nord Studio
Author URI: http://themeforest.net/user/nordstudio
Description: The Lifestyle is a beautiful, elegant and vintage-inspired WordPress blog/portfolio theme with pixel perfect design and outstanding functionality. This theme is an perfect choice for lifestyle bloggers, travelers, cooks, writers, photographers and those who want to create a beautiful and clean website. It features a custom image header with text and custom logo upload. The theme has been designed to look perfect on all size screens, from mobiles to widescreen displays. The Lifestyle has many customization options that are available WordPress Theme Customizer. Theme is also translation ready and compatible with WPML.
Tags: one-column,flexible-header,custom-background,custom-colors,custom-header,custom-menu,featured-image-header,featured-images,sticky-post,theme-options,threaded-comments,translation-ready
Version: 1.2.1.1579955738
Updated: 2020-01-25 12:35:38

*/

